[submodule "modules/OpticalFlow"]
	path = modules/OpticalFlow
	url = https://github.com/PX4/OpticalFlow.git
	branch = static_lib
[submodule "modules/mavlink_c"]
	path = modules/mavlink_c
	url = https://github.com/mavlink/c_library_v2.git
	branch = master
